.liquid-wrapper:hover {
	cursor: pointer;
	filter: drop-shadow(0 0 3px #1fa4e0);
}

.square-wrapper:hover {
	cursor: pointer;
	filter: drop-shadow(0 -4px 10px #1fa4e0);
}

.liquid {
	--width: 0.9rem;
	--border-width: 2;
	--border: calc(var(--width) / var(--border-width));

	background: #1fa4e0;
	width: var(--width);
	aspect-ratio: 1;
	transform: translateX(0.3rem) translateY(0.3rem);
	clip-path: polygon(
		100% 50%,
		50% 100%,
		0% 50%,
		50% 0%,
		100% 50%,
		calc(50% - 0px) calc(0% - calc(-1 * var(--border))),
		calc(0% - calc(-1 * var(--border))) calc(50% - 0px),
		calc(50% - 0px) calc(100% - var(--border)),
		calc(100% - var(--border)) calc(50% - 0px),
		calc(50% - 0px) calc(0% - calc(-1 * var(--border)))
	);
}

.square {
	--width: 1.5rem;
	--border-width: 2;
	--border: calc(var(--width) / var(--border-width));
	width: var(--width);
	aspect-ratio: 1;
	clip-path: polygon(
		100% 50%,
		50% 100%,
		0% 50%,
		50% 0%,
		100% 50%,
		calc(50% - 0px) calc(0% - calc(-1 * var(--border))),
		calc(0% - calc(-1 * var(--border))) calc(50% - 0px),
		calc(50% - 0px) calc(100% - var(--border)),
		calc(100% - var(--border)) calc(50% - 0px),
		calc(50% - 0px) calc(0% - calc(-1 * var(--border)))
	);
}
