.frame-wrapper,
.frame-wrapper * {
	transition:
		filter 0.5s,
		background 0.5s;
}
.frame-wrapper:hover {
	filter: drop-shadow(0 -4px 10px var(--light-bg));
}
.frame-wrapper.selected {
	animation: pulse 3s linear infinite;
}
@keyframes pulse {
	0% {
		filter: drop-shadow(0 -4px 10px var(--light-bg));
	}

	50% {
		filter: none;
	}

	100% {
		filter: drop-shadow(0 -4px 10px var(--light-bg));
	}
}

.frame-wrapper.selected .light-wrapper {
	filter: drop-shadow(0 0 3px var(--light-bg));
}
.frame-wrapper.selected .light {
	background: var(--light-bg);
}

.frame {
	--frame-width: 1.5rem;
	--border-width: 2;
	--border: calc(var(--frame-width) / var(--border-width));
	width: var(--frame-width);
}

.light {
	--light-width: 0.9rem;
	--border-width: 2;
	--border: calc(var(--light-width) / var(--border-width));
	--padding: calc((var(--frame-width) - var(--light-width)) / 2);

	width: var(--light-width);
	background: rgb(30 41 59);
	transform: translateX(var(--padding)) translateY(var(--padding));
}

.diamond {
	aspect-ratio: 1;
	clip-path: polygon(
		100% 50%,
		50% 100%,
		0% 50%,
		50% 0%,
		100% 50%,
		calc(50% - 0px) calc(0% - calc(-1 * var(--border))),
		calc(0% - calc(-1 * var(--border))) calc(50% - 0px),
		calc(50% - 0px) calc(100% - var(--border)),
		calc(100% - var(--border)) calc(50% - 0px),
		calc(50% - 0px) calc(0% - calc(-1 * var(--border)))
	);
}
