.square-wrapper.selected,
.square-wrapper:hover {
	filter: drop-shadow(0 -4px 10px var(--light-bg));
}
.square {
	--width: 1.5rem;
	--border-width: 2;
	--border: calc(var(--width) / var(--border-width));

	transition: filter 0.5s;

	width: var(--width);
	aspect-ratio: 1;
	clip-path: polygon(
		100% 50%,
		50% 100%,
		0% 50%,
		50% 0%,
		100% 50%,
		calc(50% - 0px) calc(0% - calc(-1 * var(--border))),
		calc(0% - calc(-1 * var(--border))) calc(50% - 0px),
		calc(50% - 0px) calc(100% - var(--border)),
		calc(100% - var(--border)) calc(50% - 0px),
		calc(50% - 0px) calc(0% - calc(-1 * var(--border)))
	);
}

.light-wrapper {
	transition: filter 0.5s;
}
.light-wrapper.selected {
	filter: drop-shadow(0 0 3px var(--light-bg));
}

.light-wrapper.selected > .light {
	background: var(--light-bg);
}
.light {
	--width: 0.9rem;
	--border-width: 2;
	--border: calc(var(--width) / var(--border-width));

	transition: background 0.5s;
	background: rgb(30 41 59);

	width: var(--width);
	aspect-ratio: 1;
	transform: translateX(0.3rem) translateY(0.3rem);
	clip-path: polygon(
		100% 50%,
		50% 100%,
		0% 50%,
		50% 0%,
		100% 50%,
		calc(50% - 0px) calc(0% - calc(-1 * var(--border))),
		calc(0% - calc(-1 * var(--border))) calc(50% - 0px),
		calc(50% - 0px) calc(100% - var(--border)),
		calc(100% - var(--border)) calc(50% - 0px),
		calc(50% - 0px) calc(0% - calc(-1 * var(--border)))
	);
}
