.frame-wrapper {
	&,
	* {
		transition:
			filter 0.5s,
			background 0.5s;
	}

	&:hover {
		filter: drop-shadow(0 -4px 10px var(--light-bg));
	}

	&.selected {
		animation: pulse 3s linear infinite;

		.light-wrapper {
			filter: drop-shadow(0 0 3px var(--light-bg));
		}

		.light {
			background: var(--light-bg);
		}
	}

	.light {
		--light-width: 1.5rem;
		--border-width: 2;
		--border: calc(var(--light-width) / var(--border-width));

		width: var(--light-width);
		background: var(--app-fg);
	}

	.diamond {
		aspect-ratio: 1;
		clip-path: polygon(
			100% 50%,
			50% 100%,
			0% 50%,
			50% 0%,
			100% 50%,
			calc(50% - 0px) calc(0% - calc(-1 * var(--border))),
			calc(0% - calc(-1 * var(--border))) calc(50% - 0px),
			calc(50% - 0px) calc(100% - var(--border)),
			calc(100% - var(--border)) calc(50% - 0px),
			calc(50% - 0px) calc(0% - calc(-1 * var(--border)))
		);
	}

	@keyframes pulse {
		0% {
			filter: drop-shadow(0 -4px 14px var(--light-bg));
		}

		50% {
			filter: none;
		}

		100% {
			filter: drop-shadow(0 -4px 14px var(--light-bg));
		}
	}
}
