// Colours
$font: white;
$bg: #1d1d26;
$fg: #2f3040;
$fg-light: #3f4157;
$accent: #ab4f4f;
$accent-hover: #ab3737;

// Breakpoints
$breakpoints: (medium: 50em);

// Fonts
$main-font: Open Sans;
$header-font: Roboto Slab;