@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	--app-bg: rgb(44, 45, 53);
	--app-fg: rgb(67, 67, 67);
	--app-highlight: rgb(0, 0, 0);

	font-family: 'Noto Sans';
	background: var(--app-bg);
	color: rgb(255, 230, 230);
}

h1 {
	font-family: 'Namdhinggo', serif;
}

.float-wrapper {
	animation: float 1.75s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}
