@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* Global colours */
	--app-bg: rgb(40, 41, 45);
	--app-fg: rgb(156, 163, 175);
	--app-highlight: rgb(0, 0, 0);
	color: white;

	background: var(--app-bg);
	font-family: 'Noto Sans';
}

h1 {
	font-family: 'Namdhinggo', serif;
}

.float-wrapper {
	animation: float 1.75s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}
