---
import About from '../components/About'
import App from '../components/App'
import Experience from '../components/Experience/Experience'
import Hero from '../components/Hero'
import Projects from '../components/Projects/Projects'
import '../index.css'
---

<div class="bg-gray-700 h-screen min-h-full flex justify-center overflow-auto">
	<App client:idle>
		<Hero client:idle />
		<About />
		<Projects />
		<Experience client:idle />
	</App>
</div>
