.segment {
	color: transparent;
	-webkit-text-stroke: 2px var(--text-color);
	position: relative;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.segment::before {
	position: absolute;
	color: var(--text-color);
	width: 0%;
	height: 100%;
	overflow: hidden;
	content: attr(data-text);
	animation: fillSegment var(--duration) linear forwards;
	animation-delay: var(--delay);
}

@keyframes fillSegment {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
		filter: drop-shadow(0 0 25px var(--text-color));
	}
}
